.root{
    -fx-background-image: url("https://cdn-images.win.gg/resize/w/800/h/600/format/jpg/type/progressive/fit/cover/path/news/f72f78a365657d56853b6867fb37dc3c/4fbd6bb80baa58395883812709490023/original.jpg");
    /*Omen Valorant*/
}
.root{
    -fx-background-image: url("https://i.pinimg.com/originals/a8/31/c3/a831c36e0f33ac6b408caa1f3959b403.jpg");  /*Pokemon*/
}
/*.root{
    -fx-background-image: url("https://imgur.com/x8yTM2I"); Galaxy
} */